transformer/__pycache__/
dataset/

# 虛擬環境
.venv/
venv/
ENV/

# Python 快取和編譯文件
__pycache__/
*.pyc
*.pyo
*.pyd
*.so

# 專案產生的日誌、數據、模型等
*.log
*.data
/checkpoints/

# 作業系統和編輯器文件
.DS_Store
.vscode/

*.csv
*.png
*.pt

/_log/
/_result/